body {
  font-family: 'Quicksand', sans-serif;
}

#index{
  color: #4f586e;
}

.btn-outline-info:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(91, 192, 222);
  border-color: rgb(91, 192, 222);
}

.btn{
  border-radius: 0px;
  padding: 15px 40px;
}
.btn-outline-info {
  color: rgb(91, 192, 222);
  background-image: none;
  background-color: transparent;
  border-color: rgb(91, 192, 222);
}

.img-dashboar{
  width: 261px;
}

h1{
  font-size: 3em;
}

.secon-container{
  background-color: #012b45;
  width: 100%;
  padding-top: 100px;
  margin-bottom: 50px;
  margin-top: 30px;
}


.form-container{
  padding: 10px;
  width: 80%;
}

.content{
  width: 100%;
}


.input_override{
  border: 0px;
  border-radius: 0px;

  width: 70%;
  display: inline-block;
  position: relative;
}

.text-center{
  text-align: center;
}

#label_override{
  width: 30%;
  display: inline-block;
  padding-left: 10px;

}

#div_override{
  border: 0px;
  border-radius: 0px;
  border-bottom: 1px solid #ccc;
}

#input_group_override{
  border: 1px solid #ccc;
  display: block;
  border-radius: .25rem;
  padding-left: 0px;
  padding-right: 0px;
}
